@media(max-width:900px){

    .nav-menu{

        position:fixed;

        top:80px;

        right:-100%;

        width:270px;

        height:100vh;

        background:#111827;

        display:flex;

        flex-direction:column;

        align-items:center;

        justify-content:flex-start;

        padding-top:60px;

        gap:30px;

        transition:.4s;

    }

    .nav-menu.active{

        right:0;

    }

    .hamburger{

        display:flex;

    }

}